body{
    margin: auto;
    padding: 0;
    overflow: auto;
    height: auto;
    background: #C0C0C0;
}
varan-context{
    /*-webkit-animation: fade-in 1s linear; !* Safari 4+ *!*/
    /*-moz-animation: fade-in 1s linear; !* Fx 5+ *!*/
    /*-o-animation: fade-in 1s linear; !* Opera 12+ *!*/
    /*animation: fade-in 1s linear; !* IE 10+, Fx 29+ *!*/
}

/*varan-editor{*/
    /*-webkit-animation: fade-in 1s linear; !* Safari 4+ *!*/
    /*-moz-animation: fade-in 1s linear; !* Fx 5+ *!*/
    /*-o-animation: fade-in 1s linear; !* Opera 12+ *!*/
    /*animation: fade-in 1s linear; !* IE 10+, Fx 29+ *!*/
/*}*/
